//
//  Config.xcconfig
//  CoachPlus
//
//  Created by Breit, Maurice on 02.07.19.
//  Copyright © 2019 Mathandoro GbR. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Pods/Target Support Files/Pods-CoachPlus/Pods-CoachPlus.release.xcconfig"
BACKEND_URL = https:/$()/beta.coach.plus/
